/* Устанавливаем общий бокс-модель для всех элементов */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Задаем 100% высоту для HTML элемента */

html {
  block-size: 100%;
}

/* Основные стили страницы */

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* Сброс отступов и отступов для стандартных элементов */

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

/* Убираем стандартные маркеры списка */

ul,
ol {
  list-style: none;
}

/* Основной контейнер для контента */

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  margin: auto;
  max-width: 1140px;
  min-height: 100vh;
  place-items: center;
}

/* Секция с результатами */

.result {
  /* не понимаю как сделать более гибким расположение элементов. Сделал так.*/
  display: grid;
  grid-template-rows: repeat(2, auto);
}

/* Контейнер для видео */

.result__video-container {
  position: relative;
  max-width: 100%;
  margin-top: 75px; /*Возможно опять не так как надо*/
}

/* Видео */

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

/* Форма поиска */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
}

/* Стили для полей формы */

.search-form__fieldset {
  border: none;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Стили для текстового поля ввода */

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  border: none;
  width: 225px;
  color: white;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

/* Стили для заголовков групп полей */

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Общие стили для лейблов. */

.search-form__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}

/*отключаем фокус у текстового поля*/

.search-form__textfield:focus {
  outline: none;
}

/* делаем с клавиатуры фокус у текстового поля и лейблов чекбоксов*/

.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

/* Стили для кнопки "Найти" */

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin: 30px 0 0 15px;
}

/* Скрываем элементы от пользователей, но сохраняем доступность для скринридеров */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Стили для псевдо-чекбокса */

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

/* Стили для выбранного чекбокса */

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: white;
  box-shadow: inset 0 0 0 1px #1b1919;
}

/* Добавляем отступы и позиционирование для псевдоэлемента подчеркивания */

.search-form__label-text {
  position: relative;
}

/* Создание псевдоэлемента для подчеркивания */

/* Показываем подчеркивание при наведении */

.search-form__label-text::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  position: relative;
  top: 25px;
}

.search-form__label:hover .search-form__label-text::before {
  opacity: 1;
}

/* Стили для списка контента */

.content__list {
  position: relative;
  max-height: 295px;
  overflow-y: auto;
}

/* Стили для скроллбара списка контента */

.content__list::-webkit-scrollbar {
  /*в макете нет скролла. Почему его не нужно скрывать ? */
  width: 0;
}

/* Отступ между элементами списка контента */

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

/* Карточка видео контента */

.content__video-card {
  display: flex;
  align-items: start;
  min-width: 394px;
}

/* Миниатюра видео карточки */

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: 50% 50%;
}

/* Контейнер для описания видео карточки */

.content__video-card-description-container {
  flex-grow: 1;
}

/* Заголовок страницы */

.title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 22px;
}

/* Акцентный текст */

.content__accent {
  color: #545050;
}

/* Ссылка для карточки контента */

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Заголовок видео карточки */

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 30px */
  text-transform: uppercase;
}

/* Описание видео карточки */

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

/*Общие стили кнопок*/

.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

/* Кнопка "Показать еще" */

.more-button {
  width: 399px;
  height: 34px;
}

/* Состояние при фокусе */

.button:focus {
  outline: none;
}
/* Состояние при наведении */

.button:hover {
  text-decoration: underline;
}

/* Состояние при активации */

.button:active {
  text-decoration: none;
  background-color: #545050;
}

/* Состояние при фокусе с видимой обводкой*/

.button:focus-visible {
  outline: 1px solid white;
}

/* Добавляем общий стиль для активной карточки */

.content__card-link_current {
  background-color: #545050;
}

/* Состояние при наведении */

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: white; /*если не указать подчеркивание будет синим цветом. Почему так не знаю*/
}

/* Состояние при активации */

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}
